*{
    margin:0;
    padding:0;
}

.itemStyle{
    @apply w-72 border-2 border-solid border-gray-200 rounded-xl ml-3 mt-3;
    height: fit-content;

}

.imageStyle{
    @apply h-48 w-48 rounded-full m-auto p-3;
}
.descriptionStyle{
    @apply text-xs text-gray-700;
}
