*{
    margin:0;
    padding:0;
}

.header{
    @apply bg-green-300 h-16 w-full flex justify-between;
}
.container{
    @apply text-green-700 font-bold m-auto;
}
.searchBox{
    @apply bg-white rounded-lg  border-gray-700 h-7 w-2/5 m-auto text-center;
}
.cartStyle{
    @apply m-auto font-normal;
    font-size: 20px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    
}
